@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
}

input,
button,
textarea,
select {
  font: inherit;
}

p {
  overflow-wrap: break-word; /* Corrige 'text-wrap: pretty' a 'overflow-wrap: break-word' */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance; /* 'text-wrap: balance' es experimental, válido para navegadores que lo soporten */
}

img,
video,
svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
    transition: none !important; /* Añadido '!important' para ser consistente */
  }
}
